*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table{
  text-align: center;
  margin: auto;
}

th{
  font-weight: 600;
  padding-bottom: 10px;
}

tr{
  padding: 10px 0;
}
thead>tr:hover{
  background-color: unset;
}
tr:nth-of-type(2n){
  background-color: rgba(131, 113, 81, 0.1);
}
tr:hover{
  background-color: rgba(245, 222, 179, 0.4);
}

td{
  padding: 10px 0;
}
td:nth-of-type(1){
  min-width: calc(100vw - 430px);
  text-align: left;
  padding-left: 10px;
}
td:nth-of-type(2){
  min-width: 100px;
}
td:nth-of-type(3){
  min-width: 100px;
}
td:nth-of-type(4){
  min-width: 100px;
}
td:nth-of-type(5){
  min-width: 100px;
}

.add-task table{
  margin: auto;
}
.add-task input{
  width: 98%;
}
.add-task td:nth-child(1), .add-task td:nth-child(2){
  min-width: calc((100vw - 430px) / 2);
}

.add-task td:nth-child(4), .add-task td:nth-child(3), .add-task td:nth-child(5), .add-task td:nth-child(6){
  width: 100px;
}

.add-task [name="status"]{
  width: 100px;
}
.add-task select{
  width: 100px;
}
.add-task div{
  width: 100px;
}
